<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">

  <div class="usa-search">

    <div class="autocomplete form-horizontal">
      <input id="keywords-input" class="items-input" pattern=".+" type="text" [(ngModel)]="keywords" name="keywords"
        [disabled]="keywords_results.length === 0" [placeholder]="placeholder" autocomplete="off">
      <button class="icon-plus btn-plus" type="submit" (click)="addKeywords()" [disabled]="keywords.length === 0">
        <span class="usa-sr-only">Add Keyword to list</span>
      </button>
    </div>

  </div>
  <ul *ngIf="items_selected" class="items-selected">
    <li *ngFor="let keyword of items_selected">
      <a (click)="removeItem(keyword.value)" title="Remove {{keyword.description}}"><span class="usa-sr-only">Remove
          {{keyword.value}}</span></a>{{keyword.description}}
    </li>
  </ul>
</div>
