.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(244, 247, 249, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.show {
  display: block !important;
  width: 100%;
}
