<h2>Showing vendor's indexed 5 year contract history</h2>
<em>Work performed by a vendor is often reported under a different NAICS code due to FPDS restrictions.</em>
<div class="filters-container">
  <div class="usa-width-one-twelfth"><strong class="db" style="padding-top:12px">Filter By:</strong></div>
  <div class="usa-width-one-third">

    <select id="contract_membership" [(ngModel)]="piid" (change)="onChangeMembership()">
      <option value="All">All Contract Memberships</option>
      <option *ngFor="let item of pools" value="{{item.piid}}" [innerHTML]="getVehicleDescription(item.pool.vehicle.id) + '-'+ item.piid"></option>

    </select>
  </div>
  <div class="usa-width-one-third">
    <select id="select_naic" [disabled]="naics.length===0" (change)="onChangeNaic()" [(ngModel)]="naic_code" class="items-input">
      <option value="All" selected="selected" [innerHTML]="naics.length===0 ? 'Loading...':'All NAICs Codes'"></option>
      <option *ngFor="let item of naics" value="{{item.code}}">{{item.code + ' - ' +
        item.description}}</option>
    </select>
  </div>
</div>
<div class="pad-top-bottom">
  <div class="usa-alert usa-alert-info usa-alert-slim" *ngIf="history_no_results">
    <div class="usa-alert-body">
      <p class="usa-alert-text">There are no matching contracts to display</p>
    </div>
  </div>
</div>
<discovery-spinner *ngIf="spinner"></discovery-spinner>
<div class="pad-bottom text-right" *ngIf="!history_no_results"><a href="../vendor/{{duns}}/csv/?{{params}}">Download
    vendor data(CSV)</a></div>
<table class="usa-table-borderless history" *ngIf="!history_no_results">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by Date Signed">
        <discovery-th-sort [label]="'Date Signed'" [ordering]="'date_signed'" [selectedParentOrdering]="ordering"
          (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by PIID">
        <discovery-th-sort [label]="'PIID'" [ordering]="'piid'" [selectedParentOrdering]="ordering" (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by Agency">
        <discovery-th-sort [label]="'Agency'" [ordering]="'agency_name'" [selectedParentOrdering]="ordering"
          (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by Price Type">
        <discovery-th-sort [label]="'Type'" [ordering]="'pricing_type_name'" [selectedParentOrdering]="ordering"
          (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by Obligated Amount">
        <discovery-th-sort [label]="'Value ($)'" [ordering]="'obligated_amount'" [selectedParentOrdering]="ordering"
          (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by Status">
        <discovery-th-sort [label]="'Status'" [ordering]="'status_name'" [selectedParentOrdering]="ordering"
          (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by NAIC">
        <discovery-th-sort [label]="'NAIC'" [ordering]="'NAICS'" [selectedParentOrdering]="ordering" (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
      <th scope="col" class="tooltip-top" data-tooltip="Sort by PSC">
        <discovery-th-sort [label]="'PSC'" [ordering]="'PSC'" [selectedParentOrdering]="ordering" (emmitOrdering)="orderBy($event)"></discovery-th-sort>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contract of contracts_results; let i = index">

      <td scope="row"><span [innerHTML]="getRowNum(i)"></span>.</td>
      <td>{{contract?.date_signed | date}}</td>
      <td>{{contract?.base_piid}}</td>
      <td><strong class="db">{{contract?.agency_name}}</strong><span><a href="mailto:{{contract?.point_of_contact}}"
            *ngIf="contract?.point_of_contact">Contact e-mail</a></span></td>
      <td>{{contract.pricing_type?.name}}</td>
      <td>{{contract?.annual_revenue | currency: 'USD' : 'symbol' : '1.0'}}</td>
      <td>{{contract.status?.name}}</td>
      <td>
        {{contract?.NAICS}}
      </td>
      <td>
        {{contract?.PSC}}
      </td>

    </tr>

  </tbody>
</table>
<div *ngIf="items_total > items_per_page">
  <!-- <p>Viewing <strong [innerHTML]="getViewingItems()"></strong> of <strong>{{items_total}}</strong> total results</p> -->
  <p>Page <strong>{{current_page}}</strong> of <strong>{{num_total_pages}}</strong></p>
  <button class="usa-button-secondary" (click)="prevPage()" title="Go to page {{prev}}" style="margin-right:10px"
    [disabled]="current_page===1 || !enable_paging">Previous</button>
  <button class="usa-button-secondary" (click)="nextPage()" title="Go to page {{next}}" [disabled]="current_page===num_total_pages || !enable_paging">Next</button>
</div>