<div class="usa-grid pad-top-bottom">
  <div class="usa-width-one-whole">
    <h1>About Discovery</h1>
  </div>
</div>
<div class="usa-grid">

  <div class="usa-width-two-thirds bordered pad-all margin-bottom">
    <p>Discovery is a market research tool for GSA Contract Vehicles. Currently, it features GSA IDIQ vehicles, with more
      contracts coming in the future. Use Discovery to search vendor history for the awarded contractors and NAICs of the
      various IDIQs. Some contracts are separated into Unrestricted and Small Business (SB) based on their contract structure.
      For all other contracts, you can apply small business filters to narrow your results based on any set aside needs you
      have.
    </p>
    <h3 class="no-pad-left">How to use Discovery</h3>
    <p>Discovery lets you pick and choose different criteria in order to narrow down contracts to find one that suits your
      needs. Select any of the listed filters to view lists of vendors available based on the selected criteria. The other
      filters will update as you select certain fields. Select the “All” options to clear them. Once you’ve selected one
      or more options from the dropdowns, you can then click through to the vendor’s pages to see contract history and registration
      data for each vendor.</p>

  </div>
  <div class="usa-width-one-third bordered pad-all margin-bottom">
    <h3 class="underline">Data Sources</h3>
    <div class="pad-all">
      <p><em class="pull-right">last updated: <strong>08/25/2018</strong></em><strong>SAM</strong></p>

      <p>We pull SAM data directly from the System for Award Management (SAM) to provide supplemental information on all
        of the vendors on the included contracts, including their SAM registration date, any potential suspensions or debarments,
        and the NAICS codes that a vendor may contract under. Set aside information is based on contract awarded designations
        and may not be consistent with the current SAM registration. Contract awarded designations are valid for the term
        of the contract.</p>
      <p><em class="pull-right">last updated: <strong>08/24/2018</strong></em><strong>FPDS</strong></p>

      <p>Discovery loads data from the Federal Procurement Data System (FPDS) to automatically provide you with a context-rich
        contract history for each vendor, including the amount of the contract, the primary NAICS code and the pricing type.</p>
      <p><strong>What are Service Categories?</strong></p>
      <ul>
        <li>Discovery’s IDIQs are divided into functional categories that are referred to as service categories</li>
        <li>If your contracting need spans multiple categories, choose the one that contains the preponderance of your work.
          Selecting the most relevant NAICS code above will guide you to the correct service category</li>
      </ul>
    </div>
  </div>

</div>
