*.swp
*.swn
local_settings.py
*.pyc
*.DS_Store
**.log
logs/*.log
logs/*.csv
.vagrant/
vagrant-config.yml
src/
/static/
.coverage
.project
.pydevproject
.settings/
docker/django-env.vars
celerybeat.pid
docs/build
opencontrols/
_book
