*.swp
*.swn
local_settings.py
__pycache__
*.pyc
*.DS_Store
**.log
db/*.sql
logs/*.log
logs/*.csv
.vagrant/
vagrant/config.yml
src/
app/static/
.coverage
.project
.pydevproject
.settings/
docker/django-env.vars
celerybeat.pid
docs/build
opencontrols/
_book
/tmp/
_*/