*.DS_Store
*.swp
*.swn
*.pyc
__pycache__

/src/
/.project
/.pydevproject
/.settings/
/.code-workspace
/.vscode/
/app/frontend/.vscode/
/_book/
/.coverage
/.vagrant/
/tmp/
_*/
.~lock.*

/app/discovery/local_settings.py
/app/frontend/node_modules
/db/*.sql
/docker/django-env.vars
/docs/build
/logs/*.log
/logs/*.csv
/logs/celerybeat.pid
/vagrant/config.yml
celerybeat-schedule
