redis==2.10.6

celery==4.1.0
celery-once==1.2.0

django==2.0.2
django-hstore==1.4.2
django-storages==1.6.5
django-redis-sessions==0.6.1
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-db-mutex==1.0.0
djangorestframework==3.7.7
django-filter==2.0.0.dev1
django-crispy-forms==1.7.0
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.4.2
waitress==1.1.0

PyYAML==3.11
boto==2.34.0
coverage==3.7.1
psycopg2==2.7.4
pytz==2014.4
requests==2.18.4
titlecase==0.7.1
xmltodict==0.9.0
markdown==2.5.2
whitenoise==1.0.6
psutil==5.4.2

-e git+https://github.com/PSHCDevOps/pyfpds.git@integration#egg=pyfpds
