redis==2.10.6                       # Redis object store library
waitress==1.1.0                     # Waitress web server

django>=2.0.11                      # Django web framework
psycopg2-binary==2.7.4              # PostgreSQL database library
dj-database-url==0.5.0              # Django database connection configuration
django-storages==1.7              # Django storage backend support
django-db-mutex==1.0.0              # Django mutex locking
django-filter==2.0.0                # Django query filtering
django-libsass==0.7                 # SASS integration and compilation
django-csp==3.4                     # Django browser CSP policy support
django-referrer-policy==1.0         # Django referrer policy header support
django-cors-headers==2.2.0          # Django CORS header support
whitenoise==4.0b4                   # Static file handling

djangorestframework==3.7.7          # Django REST framework
coreapi==2.3.3                      # API schema generation (CoreAPI schema format)
coreschema==0.0.4                   # API schema generation

celery==5.2.2                       # Celery task manager
django-celery-beat==1.1.1           # Celery task scheduler
django-celery-results==2.0.0        # Celery task result storage
kombu==4.2.0                        # Python messaging library

pandas==0.23.0                      # Data structures for tabular data
pytz==2018.3                        # Timezones
titlecase==0.12.0                   # String processing
PyYAML==4.2b1                       # YAML parsing/generation
markdown==2.6.11                    # Markdown parsing/generation
xlrd==1.1.0                         # Parsing of XLS* documents

psutil==5.4.3                       # System utilities
tblib==1.3.2                        # Traceback serialization (for parallel exceptions)
urllib3>=1.25

-e git+https://github.com/PSHCDevOps/django-rest-framework-filters.git@ebda20733a88caf4202262de3f3bfe97a0d6d874#egg=djangorestframework-filters
-e git+https://github.com/PSHCDevOps/pyfpds.git@integration#egg=pyfpds
