<div class="usa-grid pad-top-bottom">
  <div class="usa-width-one-whole">

    <h1>One Acquisition Solution for Integrated Service (OASIS)</h1>

  </div>

</div>
<div class="usa-grid">

  <div class="usa-width-two-thirds bordered pad-all margin-bottom">
    <p>OASIS and OASIS Small Business (SB) are multiple award, Indefinite Delivery Indefinite Quantity (IDIQ) contracts that
      provide flexible and innovative solutions for complex professional services. </p>
    <p><strong>OASIS Contract include:</strong></p>
    <ul>
      <li>Span many areas of expertise and mission space;</li>
      <li>Span multiple professional service disciplines;</li>
      <li>Allow flexibility for all contract types, including hybrids and cost-reimbursement, at the task order level; and
      </li>
      <li>Allow ancillary support components, commonly referred to as Other Direct Costs (ODC), at the task order level.</li>
    </ul>
    <p><strong>OASIS Pools</strong></p>
    <ul>
      <li>Info goes here</li>
      <li>Info goes here</li>
      <li>Info goes here</li>
      <li>Info goes here</li>
    </ul>
    <table class="usa-table-borderless">
      <caption>Recent Contract Actions on OASIS SB</caption>
      <thead>
        <tr>
          <th scope="col">Date Signed</th>
          <th scope="col">PIID</th>
          <th scope="col">Agency</th>
          <th scope="col">Company Name</th>
          <th scope="col">Type</th>
          <th scope="col">Value ($)</th>
          <th scope="col">Status</th>
          <th scope="col">NAICS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="usa-width-one-third bordered pad-all">
    <h3 class="underline">OASIS Links</h3>
    <ul>
      <li><a href="#">OASIS Customer Support</a></li>
      <li><a href="#">OASIS Ordering Guide</a></li>
      <li><a href="#">OASIS Contracts</a></li>
      <li><a href="#">Upcoming Trainings</a></li>
      <li><a href="#">NAICS Codes per Pool</a></li>
      <li><a href="#">OASIS FAQs</a></li>
    </ul>
    <button class="usa-button-secondary">More about OASIS</button>
  </div>

</div>
