<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">

  <div class="usa-search">

    <div class="autocomplete form-horizontal">
      <input id="pscs-input" class="items-input" pattern=".+" [(ngModel)]="psc" type="text" (ngModelChange)="searchTerm($event)"
        placeholder="Enter PSC Keyword" autocomplete="off">
      <button class="icon-plus btn-plus" type="submit" (click)="addPSC()">
        <span class="usa-sr-only">Add NAIC to list</span>
      </button>
      <select id="pscs-select" [disabled]="!items" class="items-input">
        <option *ngFor="let item of items" value="{{item.code}}">{{item.description}}</option>
      </select>
    </div>

  </div>
  <ul *ngIf="items_selected" class="items-selected">
    <li *ngFor="let psc of items_selected">
      <a (click)="removeItem(psc.value)" title="Remove {{psc.description}}"><span class="usa-sr-only">Remove
          {{psc.description}}</span></a>{{psc.description}}
    </li>
  </ul>

</div>
