<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">
  <fieldset class="usa-fieldset-inputs usa-sans">
    <discovery-spinner *ngIf="!items"></discovery-spinner>
    <ul class="usa-unstyled-list">
      <li *ngFor="let item of items">
        <input (change)="onChange(item.code, item.description, $event.target.checked)" id="{{id}}-{{item.code}}" name="{{id}}-{{item.code}}"
          type="checkbox" value="{{item.code}}" [checked]="item.checked">
        <label for="{{id}}-{{item.code}}">{{item.description}}</label>
      </li>
    </ul>
  </fieldset>
</div>
