<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">

  <fieldset class="usa-fieldset-inputs usa-sans">
    <legend class="usa-sr-only">$0 to $100+ Million</legend>
    <ul class="usa-unstyled-list">
      <li *ngFor="let item of items; let i = index">
        <input id="{{id + '-' + i}}" type="radio" [checked]="item.checked" value="{{item.id}}" [(ngModel)]="obligated_amount">
        <label for="{{id + '-' + i}}">{{item.description}}</label>
      </li>

    </ul>
  </fieldset>
  <discovery-filter-selected [id]="'msg-oblicated-selected'" [label]="'Filter selected'"></discovery-filter-selected>
</div>