<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">
  <fieldset class="usa-fieldset-inputs usa-sans">
    <discovery-spinner *ngIf="!items || !sharedFiltersLoaded"></discovery-spinner>
    <ul class="usa-unstyled-list" *ngIf="sharedFiltersLoaded">
      <li *ngFor="let item of items">
        <input id="{{id}}-{{item.id}}" (change)="onChange(item.id, item.name, $event.target.checked)" name="{{id}}-{{item.id}}"
          type="checkbox" value="{{item.id}}" [checked]="item.checked" [disabled]="!sharedFiltersLoaded">
        <label for="{{id}}-{{item.id}}">{{item.name}}</label>
      </li>
    </ul>
  </fieldset>
  <!-- <div class="usa-alert usa-alert-success">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Filter Selected.</h3>
      <p class="usa-alert-text">Submit your search to see results.</p>
    </div>
  </div> -->
</div>