<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">
  <div class="usa-search">
    <discovery-autocomplete (emitReset)="reset($event)" (emitCode)="addKeywords($event)" [id]="id" [keywords_results]="keywords_results"></discovery-autocomplete>
  </div>

  <ul *ngIf="items_selected" class="items-selected">
    <li *ngFor="let agency of items_selected">
      <a (click)="removeItem(agency.value)" title="Remove {{agency.value}}"><span class="usa-sr-only">Remove
          {{agency.value}}</span></a>{{agency.description | titlecase}}
    </li>
  </ul>
  <discovery-filter-selected [id]="'msg-agency-selected'" [label]="'Added agency'"></discovery-filter-selected>
</div>