.usa-hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.usa-hero h2 {
  font-size: 2em !important;
  font-weight: normal !important;
}
.usa-hero {
  background-image: url('/frontend/assets/images/hero.jpg');
  box-shadow: 0 2px 5px rgb(177, 177, 177);
}
