<section id="search_hero" class="usa-hero">
  <div class="usa-grid">
    <div class="usa-width-one-whole text-center">
      <h2>
        <span class="usa-hero-callout-alt">Find the contract to meet your needs.</span>
      </h2>
      <div id="search-gen" role="search">
        <div class="autocomplete">
          <input #keywordInput id="hero-keywords-input" pattern=".+" type="text" [(ngModel)]="keywords" name="keywords" placeholder="Start typing your keywords..."
            autocomplete="off">
          <button type="submit" (click)="searchKeywords()" [disabled]="keywords.length === 0">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
