.usa-hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.usa-hero h2 {
  font-size: 1.5em !important;
  font-weight: normal !important;
}
.usa-hero {
  background-color: #112e51;
  background-image: url('/frontend/assets/images/hero.jpg');
  box-shadow: 0 2px 5px rgb(177, 177, 177);
}
select {
  width: 130px;
  margin: 0px;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.autocomplete input[type='text'] {
  border-radius: 0px;
  width: 300px;
}

#error-msg {
  color: #fff;
  padding: 15px;
  width: 280px;
  text-align: left;
}
