.usa-hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #112e51;
  background-image: url('/frontend/assets/images/hero.jpg');
  box-shadow: 0 2px 5px rgb(177, 177, 177);
}
select {
  width: 130px;
  margin: 1px 0px;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
#search-gen button {
  margin-top: 1px !important;
}
.autocomplete .loader-container {
  position: absolute;
  text-align: left;
  background-color: #fff;
  width: 300px;
  padding-top: 10px;
  margin-top: 1px;
  height: 4.4rem;
}
.autocomplete-drop {
  border-radius: 0px;
  width: 360px;
}
#error-msg {
  color: #fff;
  padding: 15px;
  width: 280px;
  text-align: left;
}
.tooltip:after,
[data-tooltip]:after {
  border: 1px solid white !important;
}
