{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
API Documentation - Discovery Market Research
{% endblock %}

{% block css %}
<!-- <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <link href='{% static "rest_framework_swagger/css/highlight.default.css" %}' media='screen' rel='stylesheet' type='text/css'>
  <link href='{% static "rest_framework_swagger/css/atelier-dune.light.css" %}' media='screen' rel='stylesheet' type='text/css'>
  <link href='{% static "rest_framework_swagger/css/rest_framework_swagger.css" %}' media='screen' rel='stylesheet' type='text/css'>
  <link href='{% static "mirage_site/css/swagger.css" %}' media='screen' rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}
<!-- don't include base scripts -->
{% endblock %}

{% block _header %}
  <div id='header'>
    <div class="swagger-ui-wrap">
      <a id="logo" href="http://swagger.wordnik.com">swagger</a>
      <form id='api_selector'>
        <div class='input icon-btn'>
          <img id="show-wordnik-dev-icon" src="{% static 'rest_framework_swagger/images/wordnik_api.png' %}" title="Show Wordnik Developer Apis">
        </div>
        <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"></div>
        <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"></div>
        <div class='input'><a id="explore" href="#">Explore</a></div>
      </form>
    </div>
  </div>

  <div id="django-rest-swagger">
    <div class="swagger-ui-wrap">
      <a href="https://github.com/marcgibbons/django-rest-swagger/">Django REST Swagger</a>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div id="message-bar" class="swagger-ui-wrap">
  </div>
  <div id="api_key">
    <label for="api_key">Enter your API key:</label>
    <input id="input_apiKey" name="apiKey" type="text">
  </div>
  <div id="swagger-ui-container" class="swagger-ui-wrap">
  </div>
{% endblock %}

{% block page_js %}
  <script src="{% static 'rest_framework_swagger/lib/shred.bundle.js' %}"></script>
  <script src='{% static "rest_framework_swagger/lib/jquery-1.8.0.min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.slideto.min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.wiggle.min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.ba-bbq.min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/jquery.cookie.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/handlebars-1.0.0.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/underscore-min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/backbone-min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/swagger.js" %}'></script>
  <script src='{% static "rest_framework_swagger/swagger-ui.min.js" %}'></script>
  <script src='{% static "rest_framework_swagger/lib/highlight.8.0.pack.js" %}'></script>
  <script>

    // because jQuery animations are annoying
    $.fx.off = true;

    $(function() {

      window.swaggerUi = new SwaggerUi({
        url: "{{ swagger_settings.discovery_url }}",
        apiKey: "{{ swagger_settings.api_key }}",
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: {{ swagger_settings.enabled_methods }},
        onComplete: function(swaggerApi, swaggerUi) {
          // log("Loaded SwaggerUI");
          $('pre code').each(function(i, e) {
            hljs.highlightBlock(e);
          });
          // kill the goofy-looking footer
          $(".swagger-ui-wrap .footer").remove();
        },
        onFailure: function(data) {
          console.warn("Unable to Load SwaggerUI");
        },
        docExpansion: "{{ swagger_settings.doc_expansion }}",
      });

      $('#input_apiKey').change(function() {
        var key = this.value;
        log("key: " + key);
        if (key && key.trim() != "") {
          console.log("added API key:", key);
          window.authorizations.add("key", new ApiKeyAuthorization("Authorization", "{{ swagger_settings.token_type }} " + key, "header"));
        }
      });

      {% if swagger_settings.api_key %}
      window.authorizations.add("key", new ApiKeyAuthorization("Authorization", "{{ swagger_settings.token_type }} " + "{{ swagger_settings.api_key }}", "header"));
      {% endif %}

      window.swaggerUi.load();

    });

  </script>
{% endblock %}
