{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Discovery</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/uswds/css/uswds.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
</head>

<body>
    <discovery-root>Loading...</discovery-root>

    <script type="text/javascript">
        var API_HOST = "{{API_HOST}}";
        if (API_HOST.substring(API_HOST.length - 1) == '/') {
            API_HOST = API_HOST.substring(0, API_HOST.length - 1);
        }
    </script>

    <script type="text/javascript" src="{% static 'frontend/assets/uswds/js/uswds.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/assets/js/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>
</body>

</html>
