* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html    {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}
h3 {
    font-weight: 100;
    margin:0em;
}
/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#layout {
    padding: 0;
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}



/* Template Styles */

#container  {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    background-color:#;
}
#header {
    width:100%;
    background-color:#;
    margin-top:5px;
}
#page_title {
    width:500px;
    padding-bottom:10px;
}
.oasis_title    {
    display:block;
    font-size:2.8em;
    margin-bottom:-12px;
    font-weight: 600;
    color:#45697c;
}
.oasis_subtitle {
    font-size:1em;
    color:#bbbbbb;
    
}
#header_link    {
    float:right;
    font-size:.9em;
    padding-right:10px;
    padding-top:10px;
}
.widedrop   {
    width:600px;
}
#combined_search    {
    width:1100px;
    min-height:180px;
    padding-top:20px;
    background-color: #2d5872;
    border: 1px solid #000;
}
#combined_search_pool    {
    width:1100px;
    min-height:70px;
    padding-top:10px;
    background-color: #2d5872;
}
#vendor_back_button   {
    float:left;
    margin-left:27px;
    padding-left:34px;
    padding-top:7px;
    background:url(/static/mirage_site/images/back_arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 13px;

}
.back_text  {
    color:#FFF;
    font-size:1.4em;
    font-weight:500;
    text-decoration: underline;
}
.back_text a:hover {
    color:#FFF;
    font-size:2.1em;
    font-weight:600;
    text-decoration: underline;
}
#vehicle_select   {
    float:left;
    margin-left:27px;
    padding-left:37px;
    background:url(/static/mirage_site/images/1.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;

}
.vehicle_select_style  {
    color:#bfbfbf;
    height:26px;
    font-family: 'Open Sans', sans-serif;
}
#search {
    float:left;
    margin-left:40px;
    padding-left:37px;
    background:url(/static/mirage_site/images/2.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    width:417px;

}
.select_text    {
    color:#FFF;
}
#filter_container   {
    float:left;
    padding-left:37px;
    margin-left:40px;
    background:url(/static/mirage_site/images/3.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
#container #filter_container {
    float:left;
    color:#fff;
    padding-right:10px;
}
#filter_container input  {
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right:5px;
}
#filter_container label  {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
#filter_c1  {
    float:left;
}
#filter_c2  {
    float:left;
    padding-left:17px;
}
.filterbox   {
    font-size:.9em;
    line-height: 1.3em;
}
#filter label input  {
    padding-right:5px !important; 
}
.labeltest  {
    margin-left:px;
}
#main_container  {
    float:left;
    width:1100px;
    overflow: ;
}
#custom_page_content  {
    width:1100px;
    padding-left:30px;
    padding-right:30px;
    display:block;
}
#about_oasis    {
    float:left;
    width:430px;
    margin-left:60px;
}
#about_oasis h3   {
    font-weight: 600;
}
.about_oasis_text   {
    margin-left:10px;
}
#data_sources   {
    float:left;
    width:440px;
    margin-left:40px;
}
#data_sources_last_updated  {
    width:100%;
    text-align: right;
    border-bottom: 1px solid #eeeeee;
}
.data_source_name   {
    display:block;
    color:#640016;
    font-weight: 600;
    float:left;

}
.data_sources_row   {
    
    margin-top:20px;
}
.data_source_description    {
    color:#6b6b6b;
    display:block;
    
}
#data_source_date_sam   {
    float:right;
    font-weight:600;
    color:#009900;

}
#data_source_date_fpds   {
    float:right;
    font-weight:600;
    color:#009900;
}
#data_source_date_fapiis   {
    float:right;
    font-weight:600;
    color:#009900;
}
#footer {
    min-height:150px;
    width:1100px;
    background-repeat: repeat;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    background-color: #1f323d;
   
}
#footer_nav {
    margin-left:20px;
    padding-top:34px;
    color:#FFF;
    list-style-type: none;
    float:left;
    

}
#footer_nav a {
    color:#FFF;
    list-style-type: none;
}
#footer_nav ul {
    color:#FFF;
    list-style-type: none;
    font-weight:300;
}
.logo1   {
    margin-left:550px;
    float:left;
    padding-top:30px;
}
.logo2   {
    margin-left:30px;
    float:left;
    padding-top:30px;
}

#landing    {
    min-height:700px;
    width:1100px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* Initial Search Results Styles */
#results_sam_container {
    width:1050px;
    background-color:;
    border-top: 1px solid #eeeeee;
    padding-top:13px;
    margin-left:25px;

}
#results_pool_name_number   {
    padding-bottom:7px;
    width:100%;
    padding-right:25px;
    border-bottom: 1px solid #eeeeee;
}
.results_pool_name_number_search    {
    color:#CCCCCC;
    font-size:1.3em;
    font-style: italic;
}
.results_pool_name_number_pool    {
    font-size:1.6em;
    font-weight:600;
}
.results_pool_name_number_description    {
    font-size:1.6em;
    font-weight:600;
    line-height: 1em;
    color:#00;
}
#number_of_results  {
    width:650px;
    font-size: 1em;
    min-height:20px;
    background-color: ;
    color:#7f7f7f;
    font-weight:600;
    display:block;
}
.matching_your_search   {
}
#sam_last_updated   {
    width:240px;
    float:right;
    display:inline;
    text-align: right;
    height:30px;
    padding-top:5px;
}
#sam_load   {
    display:inline;   
}
.sam_style  {
    color:#a0692a !important;
}

#your_search_criteria{
    width:100%;
    min-height:30px;
    margin-bottom:5px;
    font-size:.9em;
    margin-top:4px;
   
    display:none;
}
.your_search_grey   {
    color:#bbbbbb;
}
.your_search_blue   {
    color:#b03115;
    margin-right:15px;
}
.column {
    float:left;
    margin-right:5%;
    min-width:14%;
    max-width:20%;
    display:inline-block;
    padding-bottom:40px;
    min-height:200px;
}
.pool_title {
    font-size: 2em;
    color: #222;
    margin-bottom: -0.2em;
    margin: 15px 0px 5px 0px;
    
    width:100;
    background:url(/static/mirage_site/images/pool_arrows.png);
    background-repeat: no-repeat;
    background-position: 100px 16px;
}
.number_of_vendors_in_pool {   
    margin-top:-8px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 4px;
}
.vendor_names {
    font-size: 0.8em;
    color:#777777;
    line-height: 1.3em;
    padding-bottom:3px;
    margin-bottom:0px;
    

}
a.pool_link {
}

#custom_page_content .column h2.pool_title a:link{ color:#3b6f92; } 
#custom_page_content .column h2.pool_title a:visited{ color:#3b6f92; } 
#custom_page_content .column h2.pool_title a:hover{ color:#7fc8cd; text-decoration: none;} 
#custom_page_content .column h2.pool_title a:active{ color:#519acd}


/* Pool Detail Styles */
.pooldetail {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #e5e5e5;
    margin-top:25px;

}.pooldetail table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;

}.pooldetail tr:hover td{
    background-color:#eeeeee;
}
.pooldetail td{
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #e5e5e5;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:.8em;
    font-family:;
    font-weight:normal;
    color:#000000;
}.pooldetail tr:last-child td{
    border-width:0px 1px 0px 0px;
}.pooldetail tr td:last-child{
    border-width:0px 0px 1px 0px;
}.pooldetail tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.pooldetail tr:first-child td{
    background-color:#aaaaaa;
    border:0px solid #e5e5e5;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:1em;
    font-family:;
    font-weight:600;
    color:#ffffff;
}
.pooldetail tr:first-child:hover td{
    background-color:#aaaaaa;
}
.pooldetail tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.pooldetail tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
#pool_table {
    display:none;
}
#pool_table .h_vendor_name {
    text-align: left;
}
#pool_table .vendor_name {
    text-align: left;
}
#pool_table .h_vendor_location {
    text-align: left;
}
#pool_table .vendor_location {
    text-align: left;
}
#pool_table .pooldetail .vendor_name tr:hover td{
    background-color:#eeeeee;
}
.pure-checkbox  {
    padding-bottom:3px;
}
/* Vendor Detail Styles */
#breadcrumb_container   {
    border-top:1px solid #e3e5e9;
    border-bottom:1px solid #e3e5e9;
}
#vendor_main_container  {
    float:left;
    width:1100px;
    overflow: ;
    padding-left:15px;
}
#vendor_title_status_container  {
    width:100%;
    border-bottom:1px solid #DDDDDD;
    height:33px;
    background-color: ;
    margin-top:15px;
}
.vendor_title{
    font-size: 1.6em;
    float:left;
    font-weight:600;
}
.vendor_website   {
    float:left;
    margin-left:10px;
    padding-right:8px;
    padding-top:10px;
    background:url(/static/mirage_site/images/external_link.png);
    background-repeat: no-repeat;
    background-position: 64px 14px;
    height:35px;
    width:80px;
    vertical-align: text-bottom;
    color:#83b1d6;
}
.debarred_status    {
    display:none;
    font-size:1.6em;
    float:left;
    margin-left:10px;
    font-weight: 600;
    color:#d60006;
}
#vendor_admin_container {
    width:100%;
    margin-top:10px;
    min-height:140px;
}
#vendor_admin_c1    {
    width:340px;
    float:left;
    min-height:90px;
}
#download_data  {
    width: 340px;
    min-height:20px;
    padding-left:23px;
    background:url(/static/mirage_site/images/download_icon.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    margin-left:10px;
    margin-top:5px;
}
#download_data_results  {
    margin-top:-21px;
    min-height:20px;
    padding-left:23px;
    background:url(/static/mirage_site/images/download_icon.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    float:right;
}
#vendor_sam_expiration_container    {
    font-size:.9em;
    padding-bottom:6px;
}
.vendor_sam_expiration_text {
   
}
.vendor_sam_expiration_date {
    color:#084b5a;
    font-weight:bold;
}
.vendor_sam_expiration_notice   {
    display: none;
    color:#d6000b;
    font-weight:bold;
}
#vendor_admin_c2    {
    min-width:260px;
    float:left;
    min-height:110px;
    margin-left:60px;
}
.admin_label    {
    display:inline-block;
}
.admin_data    {
    display:inline-block;
    font-weight:bold;
}
.admin_data2    {
    display:inline-block;
    
}
.lh{
    margin-bottom:0px;
    margin-top:0px;
}
.admin_title {
    margin:0em;
    font-size:1em;
    color:#8e919c;
}
#vendor_admin_c3    {
    min-width:300px;
    float:left;
    min-height:130px;
    margin-left:20px;
}
#sb_badge   {
    float:right;
}






#no_matching_contracts  {
    font-size: 1.5em;
    float:left;
    font-weight:600;
    margin-left:40px;
    font-style: italic;
    margin-top:5px;
    color:#666666;
}
#vendor_contract_history_container  {
    width:100%;
    min-height:100px;
    display:block;
    margin-top:20px;
}
#vendor_contract_history_title_container  {
    width:100%;
    display:block;
}
.vendor_contract_history_text {
    
    display:inline;
    font-size:1.4em;
}
.vendor_contract_history_naics {
    width:100%;
    display:inline;
    font-size:1.4em;
    font-weight:bold;
}
.contracts_button_active {
    display: inline-block;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 10px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    line-height: 30px;
    color: #595959;
    font-weight: bold;
    max-width:140px;
}
.contracts_button {
    display: inline-block;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    box-shadow: 0px 0px 0px 1px #eaeaea inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 10px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    line-height: 30px;
    color: #bfbfbf;
    font-weight: bold;
       max-width:140px;
    
}
.contracts_button:hover {
    -webkit-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    -moz-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa;
    color: #424242;
    
}
.contracts_button:active {
    background: #e6e6e6;
    -webkit-box-shadow: 0px 1px 5px 0px #808080 inset;
    -moz-box-shadow: 0px 1px 5px 0px #808080 inset;
    box-shadow: 0px 1px 5px 0px #808080 inset;
}






/* Vendor Detail  Socioeconomic Factors Table Styles */
.vendor_detail_table {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #cecece;
}.vendor_detail_table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.vendor_detail_table tr:hover td{
    background-color:#ffffff;
}
.vendor_detail_table td{
    vertical-align:middle; 
    background-color:#ffffff;
    border:1px solid #cecece;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}.vendor_detail_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.vendor_detail_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.vendor_detail_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.vendor_detail_table tr:first-child td{
    background-color:#b2b2b2;
    border:0px solid #cecece;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.vendor_detail_table tr:first-child:hover td{
    background-color:#b2b2b2;
}
.vendor_detail_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.vendor_detail_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}



/* Contract History Styles */

.arrow-up {
    background:url(/static/mirage_site/images/arrow_up.png);
    background-repeat: no-repeat;
    background-position:right;
    background-position: 93% 50%;
}
.arrow-down {
    background:url(/static/mirage_site/images/arrow_down.png);
    background-repeat: no-repeat;
    background-position:right;
    background-position: 93% 50%;
}
.arrow-sortable {
    background:url(/static/mirage_site/images/arrow_sortable.png);
    background-repeat: no-repeat;
    background-position:right;
    background-position: 93% 50%;
}
.active_sort    {
    font-weight: 700;
    color:#000 !important;
}
.contracthistory {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #e5e5e5;
    margin-top:5px;

}
.contracthistory table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;

}.contracthistory tr:hover td{
    background-color:#eeeeee;
}
.contracthistory td{
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #e5e5e5;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:.8em;
    font-family:;
    font-weight:normal;
    color:#000000;
}.contracthistory tr:last-child td{
    border-width:0px 1px 0px 0px;
}.contracthistory tr td:last-child{
    border-width:0px 0px 1px 0px;
}.contracthistory tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.contracthistory tr:first-child td{
    background-color:#aaaaaa;
    border:0px solid #e5e5e5;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:1em;
    font-family:;
    font-weight:600;
    color:#ffffff;
}
.contracthistory tr:first-child:hover td{
    background-color:#aaaaaa;
}
.contracthistory tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.contracthistory tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
#ch_table td {
    text-align: left;
}
#ch_table .contracthistory .vendor_name tr:hover td{
    background-color:#eeeeee;
}

#ch_table td.date_signed, #ch_table td.value {
    text-align:right;
    padding-right: 15px;
}
}



