* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html    {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}
h3 {
    font-weight: 100;
    margin:0em;
}
/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#layout {
    padding: 0;
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

/* Breadcrumbs */

#breadcrumbs{
    width:100%;
}
ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
    }       
#crumbs {
    height:2.3em;
    width:675px;
    }
#crumbs li {
    float:left;
    line-height:2.3em;
    color:#777;
    padding-left:.75em;
    }       
#crumbs li a {
    background:url(/static/mirage_site/images/crumbs.gif) no-repeat right center;
    display:block;
    padding:0 15px 0 0;
    }                           
#crumbs li a:link {color:#777;}
#crumbs li a:visited { color:#777; text-decoration:none;}   
#crumbs li a:hover {color:#dd2c0d;}
#crumbs li a:focus {color:#dd2c0d;}



/* Template Styles */

#container  {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    background-color:#;
}
#header {
    width:100%;
    background-color:#;
    margin-top:10px;
}
#page_title {
    width:500px;
    padding-bottom:10px;
}
.oasis_title    {
    display:block;
    font-size:1.8em;
    margin-bottom:-7px;
    font-weight: 600;
    color:#45697c;
}
.oasis_subtitle {
    font-size:.8em;
    color:#bbbbbb;
    
}
.widedrop   {
    width:600px;
}
#search {
   margin-bottom:10px;
    padding:5px;
}
#container #filter_container {
    width:180px;
    background:url(/static/mirage_site/images/filter_bg.jpg);
    float:left;
    height:600px;
    margin-top:32px;
    color:#fff;
    padding-right:10px;
}
.filter_title  {
    margin-left:20px;
    margin-bottom:5px;
    font-weight: 700;
    color:#f5f7ca;
    margin-top:15px;
}
#filter_container input  {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right:5px;
}
#filter_container label  {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.labeltest  {
    margin-left:px;
}
#main_container  {
    float:left;
    width:920px;
    overflow: ;
}
#custom_page_content  {
    width:920px;
    padding-left:25px;
}
#tabs_container {
    width:100%;
    background-color: ;
    height:33px;
    border-bottom: 1px solid #eeeeee;
}
#select_vehicle {
    width:auto;
    float:left; 
}
a.vehicle_tab, {
    display:inline-block;margin:0 0 5px 0;
    background-color:#28aadc;
    padding:10px;
    color:#000;
    font-size:12px;
    text-align:center;
    width:100px;
}
.vehicle_tab, {
    display:inline-block;margin:0 0 5px 0;
    background-color:#28aadc !important;
    padding:10px;
    color:#fff;
    font-size:12px;
    text-align:center;
    width:100px;
    display:block;
}
a.select_vehicle {
  color:#aaa;
  padding-top:4px;
}
.select_vehicle:hover {
  background-color:;
  text-decoration:none;
  color:#aaa;
}
.select_vehicle {
  cursor:pointer;
  background-color:#cccccc;
  display:block;
  text-align:center;
  margin-top:0px;
  width:90px;
  height:33px;
  border-radius:3px;
  border-width:1px;
  border-style:solid;
  border-color:#eeeeee;
  padding-top:4px;
background: -moz-linear-gradient(top,  rgba(219,219,219,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}
/*a.vehicle_tab:hover {
    background-color:#166888;
    color:#fff;
}*/



/* Initial Search Results Styles */
#results_sam_container {
    width:100%;
    background-color:;
    height:42px;
    border-top: 1px solid #eeeeee;
    padding-top:13px;
}
#number_of_results  {
    width:650px;
    float:left;
    padding-right:10px;
    padding-left:10px;
    font-size: 1.5em;
    height:30px;
    padding-left:25px;
    background-color: ;
    color:#410000;
    font-weight:600;
}
#matching_your_search   {
}
#sam_last_updated   {
    width:240px;
    float:right;
    display:inline;
    text-align: right;
    height:30px;
    padding-top:5px;
}
#sam_load   {
    display:inline;   
}
.sam_style  {
    color:#a0692a !important;
}
.filterbox   {
    margin-left:10px;
    line-height: 2em;
    font-size:.9em;
    padding-left:10px;
    line-height: 1.3em;
}
#filter label input  {
    padding-right:5px !important; 
}
#your_search_criteria{
    width:100%;
    min-height:30px;
    margin-bottom:5px;
    font-size:.9em;
    margin-top:4px;
    border-bottom: 1px solid #eeeeee;
    display:none;
}
.your_search_grey   {
    color:#bbbbbb;
}
.your_search_blue   {
    color:#b03115;
    margin-right:15px;
}
.column {
    float:left;
    margin-right:5%;
    min-width:14%;
    max-width:20%;
    display:inline-block;
    padding-bottom:40px;
    min-height:200px;
}
.pool_title {
    font-size: 2em;
    color: #222;
    margin-bottom: -0.2em;
    margin: 15px 0px 5px 0px;
    
    width:100;
    background:url(/static/mirage_site/images/pool_arrows.png);
    background-repeat: no-repeat;
    background-position: 100px 16px;
}
.number_of_vendors_in_pool {   
    margin-top:-8px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 4px;
}
.vendor_names {
    font-size: 0.8em;
    color:#777777;
    line-height: 1.3em;
    padding-bottom:3px;
    margin-bottom:0px;
    

}
a.pool_link {
}

#custom_page_content .column h2.pool_title a:link{ color:#3b6f92; } 
#custom_page_content .column h2.pool_title a:visited{ color:#3b6f92; } 
#custom_page_content .column h2.pool_title a:hover{ color:#7fc8cd; text-decoration: none;} 
#custom_page_content .column h2.pool_title a:active{ color:#519acd}


/* Pool Detail Styles */
.pooldetail {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #e5e5e5;
    margin-top:25px;

}.pooldetail table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;

}.pooldetail tr:hover td{
    background-color:#eeeeee;
}
.pooldetail td{
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #e5e5e5;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:.8em;
    font-family:;
    font-weight:normal;
    color:#000000;
}.pooldetail tr:last-child td{
    border-width:0px 1px 0px 0px;
}.pooldetail tr td:last-child{
    border-width:0px 0px 1px 0px;
}.pooldetail tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.pooldetail tr:first-child td{
    background-color:#aaaaaa;
    border:0px solid #e5e5e5;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:1em;
    font-family:;
    font-weight:600;
    color:#ffffff;
}
.pooldetail tr:first-child:hover td{
    background-color:#aaaaaa;
}
.pooldetail tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.pooldetail tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
#pool_table {
    display:none;
}
#pool_table .h_vendor_name {
    text-align: left;
}
#pool_table .vendor_name {
    text-align: left;
}
#pool_table .h_vendor_location {
    text-align: left;
}
#pool_table .vendor_location {
    text-align: left;
}
#pool_table .pooldetail .vendor_name tr:hover td{
    background-color:#eeeeee;
}
.pure-checkbox  {
    padding-bottom:10px;
}
/* Vendor Detail Styles */
#breadcrumb_container   {
    border-top:1px solid #e3e5e9;
    border-bottom:1px solid #e3e5e9;
}
#vendor_main_container  {
    float:left;
    width:1100px;
    overflow: ;
    padding-left:15px;
}
#vendor_title_status_container  {
    width:100%;
    border-bottom:1px solid #DDDDDD;
    height:33px;
    background-color: ;
    margin-top:15px;
}
.vendor_title{
    font-size: 1.6em;
    float:left;
    font-weight:600;
}
.debarred_status    {
    display:none;
    font-size:1.6em;
    float:left;
    margin-left:10px;
    font-weight: 600;
    color:#d60006;
}
#vendor_admin_container {
    width:100%;
    margin-top:10px;
    min-height:140px;
}
#vendor_admin_c1    {
    width:340px;
    float:left;
    min-height:90px;
}
#vendor_sam_expiration_container    {
    font-size:.9em;
    padding-bottom:6px;
}
.vendor_sam_expiration_text {
   
}
.vendor_sam_expiration_date {
    color:#084b5a;
    font-weight:bold;
}
.vendor_sam_expiration_notice   {
    color:#d6000b;
    font-weight:bold;
}
#vendor_admin_c2    {
    min-width:260px;
    float:left;
    min-height:110px;
    margin-left:60px;
}
.admin_label    {
    display:inline-block;
}
.admin_data    {
    display:inline-block;
    font-weight:bold;
}
.admin_data2    {
    display:inline-block;
    
}
.lh{
    margin-bottom:0px;
    margin-top:0px;
}
.admin_title {
    margin:0em;
    font-size:1em;
    color:#8e919c;
}
#vendor_admin_c3    {
    min-width:300px;
    float:left;
    min-height:130px;
    margin-left:20px;
}
#vendor_contract_history_container  {
    width:100%;
    min-height:100px;
    display:block;
    margin-top:20px;
}
#vendor_contract_history_title_container  {
    width:100%;
    display:block;
}
.vendor_contract_history_text {
    width:100%;
    display:inline;
    font-size:1.4em;
}
.vendor_contract_history_naics {
    width:100%;
    display:inline;
    font-size:1.4em;
    font-weight:bold;
}







/* Vendor Detail  Socioeconomic Factors Table Styles */
.vendor_detail_table {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #cecece;
}.vendor_detail_table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.vendor_detail_table tr:hover td{
    background-color:#ffffff;
}
.vendor_detail_table td{
    vertical-align:middle; 
    background-color:#ffffff;
    border:1px solid #cecece;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
}.vendor_detail_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.vendor_detail_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.vendor_detail_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.vendor_detail_table tr:first-child td{
    background-color:#b2b2b2;
    border:0px solid #cecece;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.vendor_detail_table tr:first-child:hover td{
    background-color:#b2b2b2;
}
.vendor_detail_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.vendor_detail_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}



/* Contract History Styles */

.contracthistory {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #e5e5e5;
    margin-top:5px;

}
.contracthistory table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;

}.contracthistory tr:hover td{
    background-color:#eeeeee;
}
.contracthistory td{
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #e5e5e5;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:.8em;
    font-family:;
    font-weight:normal;
    color:#000000;
}.contracthistory tr:last-child td{
    border-width:0px 1px 0px 0px;
}.contracthistory tr td:last-child{
    border-width:0px 0px 1px 0px;
}.contracthistory tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.contracthistory tr:first-child td{
    background-color:#aaaaaa;
    border:0px solid #e5e5e5;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:1em;
    font-family:;
    font-weight:600;
    color:#ffffff;
}
.contracthistory tr:first-child:hover td{
    background-color:#aaaaaa;
}
.contracthistory tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.contracthistory tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
#ch_table td {
    text-align: left;
}
#ch_table .contracthistory .vendor_name tr:hover td{
    background-color:#eeeeee;
}

}
