* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html    {
    min-width:1080px;
}

#container  {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    background-color:#;
}
#header {
    width:100%;
    background-color:#;
}
#search {
    
    padding:15px;
}
#filter_container {
    width:180px;
    background-color: #ececec;
    float:left;
    height:600px;
}
.filter_title  {
    margin-left:10px;
    margin-bottom:0px;
}

#main_container  {
    float:left;
    width:920px;
    
}
#results_container  {
    width:920px;
    padding-left:10px;
}
#results_header {
    width:100%;
    background-color: #cccccc;
    height:37px;
}
#select_vehicle {
    
    width:auto;
    float:left;
}
#number_of_results  {
    width:auto;
    float:right;
    padding-right:10px;
    font-size: 1.4em;
    height:30px;
    text-align: center;
    margin-top:5px;
}
#matching_your_search   {

}
.filterbox   {
    margin-left:20px;
    line-height: 2em;
    font-size:.9em;
}
#filter label input  {
    padding-right:5px !important; 
}
#sam_last_updated   {
    width:200px;
    float:right;
    margin-top:-27px;
    display:inline;

}
#sam_load   {
    font-color:#cccccc !important;
    display:inline;
}
.sam_style  {
    font-color:#cccccc !important;
}
.column {
    float:left;
    margin-right:5%;
    min-width:14%;
    max-width:20%;
    display:inline-block;
    padding-bottom:40px;
    min-height:200px;
}
.pool_title {
    font-size: 2em;
    color: #222;
    margin-bottom: -0.2em;
}
.number_of_vendors_in_pool {   
}
.vendor_names {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}


/* Breadcrumbs */

#breadcrumbs{
    
}
ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
    }       
#crumbs {
    height:2.3em;
    border:1px solid #dedede;
    width:675px;
    }
#crumbs li {
    float:left;
    line-height:2.3em;
    color:#777;
    padding-left:.75em;
    }       
#crumbs li a {
    background:url(/static/mirage_site/images/crumbs.gif) no-repeat right center;
    display:block;
    padding:0 15px 0 0;
    }                           
#crumbs li a:link,
#crumbs li a:visited {
    color:#777;
    text-decoration:none;
    }   
a:link, a:visited,  
#crumbs li a:hover,
#crumbs li a:focus {
    color:#dd2c0d;
    }




/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
