<discovery-hero></discovery-hero>
<!-- START Contract Vehicles Carousel -->
<div>
  <section class="usa-grid usa-section section-contracts" aria-label="Contrat Vehicles in Discovery">
    <div class="usa-width-one-whole text-center pad-bottom">
      <h2 class="section-head">Contract Vehicles on Discovery</h2>
    </div>
    <div class="usa-width-one-whole pad-top">
      <div class="usa-width-one-fourth">
        <a [routerLink]="['/oasis']" class="vehicle animated">
          <h2>OASIS</h2>
          <p>One Acquisition Solution for Integrated Service</p>
        </a>

      </div>
      <div class="usa-width-one-fourth">
        <a [routerLink]="['/bmo']" class="vehicle animated">
          <h2>BMO</h2>
          <p>Building Maintenance and Operations</p>
        </a>
      </div>
      <div class="usa-width-one-fourth">
        <a [routerLink]="['/hcats']" class="vehicle animated">
          <h2>HCaTS</h2>
          <p>Human Capital and Training Solutions</p>
        </a>
      </div>
      <div class="usa-width-one-fourth">
        <a [routerLink]="['/pss']" class="vehicle animated">
          <h2>PSS</h2>
          <p>Professional Services Schedule</p>
        </a>
      </div>
    </div>
  </section>
</div>
<!-- END Contract Vehicles Carousel -->