<discovery-hero></discovery-hero>
<!-- START Contract Vehicles Carousel -->
<div>
  <section class="usa-grid usa-section section-contracts">
    <div class="usa-width-one-whole text-center pad-bottom">
      <h2 class="section-head">Contract Vehicles on Discovery</h2>
    </div>
    <div class="usa-width-one-whole pad-top">
      <div class="usa-width-one-fourth">
        <h2>OASIS</h2>
        <p>One Acquisition Solution for Integrated Service</p>
        <button class="usa-button-secondary" aria-label="Learn more about OASIs" [routerLink]="['/oasis']">Learn more</button>
      </div>
      <div class="usa-width-one-fourth">
        <h2>BMO</h2>
        <p>Building Maintenance and Operations</p>
        <button class="usa-button-secondary" aria-label="Learn more about BMO" [routerLink]="['/bmo']">Learn more</button>
      </div>
      <div class="usa-width-one-fourth">
        <h2>HCaTS</h2>
        <p>Human Capital and Training Solutions</p>
        <button class="usa-button-secondary" aria-label="Learn more about HCaTS" [routerLink]="['/hcats']">Learn more</button>
      </div>
      <div class="usa-width-one-fourth">
        <h2>PSS</h2>
        <p>Professional Services Schedule</p>
        <button class="usa-button-secondary" aria-label="Learn more about PSS" [routerLink]="['/pss']">Learn more</button>
      </div>
    </div>
  </section>
</div>
<!-- END Contract Vehicles Carousel -->