<div class="usa-grid pad-top-bottom">
  <div class="usa-width-one-whole">

    <h1>Building Maintenance and Operations (BMO)</h1>

  </div>

</div>
<div class="usa-grid">

  <div class="usa-width-two-thirds bordered pad-all margin-bottom">
    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <p class="usa-alert-text">GSA’s BMO vehicle is the first governmentwide solution to receive a best-in-class designation
          by meeting five rigorous category management performance criteria as defined by Office of Management and Budget
          guidance. <a href="https://www.gsa.gov/acquisition/category-management/bestinclass">Read more about this designation
            and the evaluation criteria</a> on the GSA Blog.</p>
      </div>
    </div>
    <p>Building Maintenance and Operations (BMO) strategic sourcing solution is a comprehensive and flexible solution covering
      all high-demand BMO services. It is an open market, multiple-award, indefinite delivery, indefinite quantity (MA-IDIQ),
      governmentwide contract vehicle supporting the strategic sourcing initiative to reduce costs and drive efficient purchasing
      by federal agencies.</p>
    <p>There are both unrestricted and small business set aside programs available in the BMO vehicle to allow for large
      and small business participation. The BMO Small Business (SB) has additional socio-economic categories to help agencies
      meet their goals.</p>
    <p>The BMO vehicle is a 10-year contract with one 5-year base and one 5-year option at the parent contract level. Agencies
      seeking longer than a 5-year task order (1 year base period and four 1-year options) must request a deviation from
      their own agency. BMO allows for the following contract types at the task-order level:</p>
    <ul>
      <li>Firm, fixed price</li>
      <li>Time and materials</li>
      <li>Labor hours</li>
    </ul>
    <p><strong>BMO Pools</strong></p>
    <ul>
      <li>Info goes here</li>
      <li>Info goes here</li>
      <li>Info goes here</li>
      <li>Info goes here</li>
    </ul>
    <table class="usa-table-borderless">
      <caption>Recent Contract Actions on BMO</caption>
      <thead>
        <tr>
          <th scope="col">Date Signed</th>
          <th scope="col">PIID</th>
          <th scope="col">Agency</th>
          <th scope="col">Company Name</th>
          <th scope="col">Type</th>
          <th scope="col">Value ($)</th>
          <th scope="col">Status</th>
          <th scope="col">NAICS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>
        <tr>
          <th scope="row">9/10/2015</th>
          <td>####</td>
          <td>Agency name</td>
          <td>Company name</td>
          <td>Type</td>
          <td>$$$</td>
          <td>Status here</td>
          <td>Codes here</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="usa-width-one-third bordered pad-all">
    <h3 class="underline">BMO Links</h3>
    <ul>
      <li><a href="#">BMO Customer Support</a></li>
      <li><a href="#">BMO Ordering Guide</a></li>
      <li><a href="#">BMO Contracts</a></li>
      <li><a href="#">Upcoming Trainings</a></li>
      <li><a href="#">NAICS Codes per Pool</a></li>
      <li><a href="#">BMO FAQs</a></li>
    </ul>
    <button class="usa-button-secondary">More about BMO</button>
  </div>

</div>
