<section class="usa-hero">
  <div class="usa-grid text-center">
    <h1>PSS</h1>
    <h3>Professional Services Schedule</h3>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-sixth">&nbsp;</div>
    <div class="usa-width-one-half">
      <p class="usa-font-lead">The Professional Services Schedule (PSS) is an indefinite delivery/indefinite quantity
        (IDIQ) multiple award schedule, providing direct access to simple or complex fixed-price or labor-hour
        professional services.
      </p>
      <ul class="usa-font-lead">
        <li>Allows use of streamlined procurement procedures in FAR Subpart 8.4 Federal Supply Schedules
        </li>
        <li>Provides direct access to simple or complex fixed-price or labor-hour professional services
        </li>
        <li>Offers federal agencies access to more than 3,300 experienced contractors
        </li>
        <li>Please note, PSS small business designation may be incorrect for up to 20% of listings due to lack of
          updates by vendors
        </li>
      </ul>
      <h3>PSS Service Categories – SINs</h3>
      <div *ngIf="pools.length===0">Loading...</div>
      <ul *ngIf="pools.length>0" class="usa-font-lead">
        <li *ngFor="let pool of pools"><a [routerLink]="['/search']" [queryParams]="{vehicles: 'PSS', service_categories: pool.id}">{{pool.number}}
            - {{pool.name}}</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <h3>PSS Links:</h3>
      <ul>
        <li><a href="https://www.gsa.gov/acquisition/products-services/professional-services/professional-services-schedule-pss">PSS
            Customer Support</a></li>
        <li><a href="https://www.gsa.gov/acquisition/purchasing-programs/gsa-schedules/for-federal-agency-customers-ordering-from-schedules"
            target="_blank">Schedules Ordering</a></li>
        <li><a href="https://www.gsa.gov/acquisition/purchasing-programs/gsa-schedules/schedules-news-training" target="_blank">Schedules
            Training</a></li>
        <li><a href="https://www.gsa.gov/acquisition/purchasing-programs/gsa-schedules/gsa-schedules-frequently-asked-questions"
            target="_blank">Schedules FAQs</a></li>
        <li><a href="mailto:ProfessionalServices@gsa.gov" target="_blank">Contact PSS</a></li>
      </ul>
    </div>

  </div>
</section>