{% load staticfiles %}
<!doctype HTML>
<html lang="en">
    
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        
        <title>Mirage</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static "mirage_site/js/jquery-1.11.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/select2.min.js" %}"></script>
         <script type="text/javascript" src="{% static "mirage_site/js/jquery.fireOnDisable.js" %}"></script>

        <script type="text/javascript" src="{% static "mirage_site/js/history.js/scripts/bundled/html4+html5/jquery.history.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/input-handler.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/requests-manager.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/layout-manager.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/url-manager.js" %}"></script>

        <script type="text/javascript" src="{% static "mirage_site/js/index.js" %}"></script>
        <script type="text/javascript">
            var static_image_path = "{% static "mirage_site/images/" %}";
        </script>

        <link rel="stylesheet" href="{% static "mirage_site/css/pure-release-0.5.0/pure-min.css" %}" />
        <link rel="stylesheet" href="{% static "mirage_site/css/pure-release-0.5.0/base-min.css" %}" />
        <link rel="stylesheet" href="{% static "mirage_site/css/select2.css" %}" />
        {% block css %}
        {% endblock %}


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static "mirage_site/css/pure-release-0.5.0/grids-responsive-old-ie-min.css" %}">
        <![endif]-->

        <!--
            <link rel="stylesheet" href="{% static "mirage_site/css/pure-release-0.5.0/grids-responsive-min.css" %}">[if gt IE 8]><!-->

         <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static "mirage_site/css/pure-release-0.5.0/grids-core-min.css" %}">
        <!--<![endif]-->
        

        
        <!--[if gte IE 7]><!-->
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog.css" %}">
        <!--<![endif]-->

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog-old-ie.css" %}">
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="page_top_container">
            <div id="skiptocontent"><a href="#skip" class="">skip to main content</a></div>
            <div id="header">
                <div id="header_link"><a href="http://www.gsa.gov/oasis">OASIS Program Home</a></div>
                <div id="page_title">
                    <div class="logo"><img src="{% static "mirage_site/images/logo.png" %}"></div>
                    <a href="/">
                        <div class="oasis_title"><img alt="Mirage Logo" src="{% static "mirage_site/images/mirage.png" %}" />
                        </div>
                    </a>
                    <span class="oasis_subtitle">OASIS Market Research</span>
                </div><!--end page_title<!-->
            </div><!--end header<!-->
        </div><!--end page_top_container<!-->


                {% block header %}    
                {% endblock header %}



        <div id="container">

            <a name="skip" > </a>
            {% block body %}
            {% endblock body %}

            <!--CUSTOM PAGE CONTENT HERE!-->            

            <div id="custom_page_content">
                {% block content %}
                {% endblock %}
            </div><!--end custom_page_content<!-->

            <!--END CUSTOM PAGE CONTENT!-->  

        </div><!--end container<!-->


        <div class="cf"></div>

        <div id="footer_container">
            <div id="footer">
                <div id="footer_nav">
                    <ul>
                        <li><a href="http://www.gsa.gov/oasis">OASIS Program Home</a></li>  
                        <li><a href="https://github.com/18F/mirage"><img alt="GitHub Logo" src="{% static "mirage_site/images/github_icon.png" %}" />Check out our code on GitHub</a></li>                  
                    </ul>

                </div><!--end footer_nav<!-->

                <div id="call_to_action">
                    <div class="cta_title">Want to help develop Mirage?</div>
                    <span class="cta_text">We are always looking for volunteers to try out prototypes.  Or drop us a line with your questions & comments.</span>

                    <span class="cta_feedback">
                    We'd love your feedback!
                    </span>
                    <div class="cta_spacer">
                        <span class="cta_email">email:</span>
                        <span class="cta_email_address">mirage-18f@gsa.gov</span>
                    </div><!--end cta_spacer<!-->
                </div><!--end call_to_action<!-->

                <div class="logo_container">
                    <div class="built_by">Built by</div>
                    <a href="https://18f.gsa.gov"><div class="logo1"><img src="{% static "mirage_site/images/logo-18f.png"%} " alt="18F logo" /></div></a>
                    <a href="http://www.gsa.gov"><div class="logo2"><img src="{% static "mirage_site/images/gsa_logo.jpg" %} " alt="GSA logo" /></div></a>
                </div><!--end logo_container<!-->
            </div><!--end footer<!-->
        </div><!--end footer_container<!-->

        <style>
        /*  #naics-code { width: 100%; }
          #search { margin-left: 0; }
        */
        </style>



        <script type="text/javascript" src="{% static "mirage_site/js/mediator.min.js" %}"></script>
        {% block page_js %}
        {% endblock %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48605964-16', 'auto');
          ga('send', 'pageview');

        </script>

        <script type="text/javascript" src="http://www.gsa.gov/resources/js/federated-analytics.js"></script>
        <!-- for DAP -->
        <script type="text/javascript" src="http://www.gsa.gov/resources/js/addLinkerEvents-std.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28449919-1']);
            //Commented as per sarah Hyder. It will stay commented for another 30 days from the day we deploy then it has to be removed. commented on 05/22/2012    
            //_gaq.push(['_setVisitorCookieTimeout', 0]);
            //_gaq.push(['_setSessionCookieTimeout', 0]);
            //_gaq.push(['_setCampaignCookieTimeout', 0]);
            //_gaq.push(['_setCustomVar',1,'title','GSA Home',3]);
            _gaq.push(['_setCustomVar',2,'organization','OCM',3]);
            _gaq.push(['_setCustomVar',3,'program','',3]);
            _gaq.push(['_trackPageview', gaCrumb]);
            _gaq.push(['_setDomainName', 'gsa.gov']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- Testing DDL -->
    </body>

</html>
