{% load staticfiles %}
<!doctype HTML>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        
        <title>Mirage</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,500,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static "mirage_site/js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/select2.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/history.js/scripts/bundled/html4+html5/jquery.history.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/input-handler.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/requests-manager.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/layout-manager.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/url-manager.js" %}"></script>

        <script type="text/javascript" src="{% static "mirage_site/js/index.js" %}"></script>


        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
        <link rel="stylesheet" href="{% static "mirage_site/css/select2.css" %}" />


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->

        <!--
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">[if gt IE 8]><!-->

         <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-core-min.css">
        <!--<![endif]-->
        
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog-old-ie.css" %}">
        <![endif]-->
        
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog.css" %}">
        <!--<![endif]-->


        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="container">

            <div id="header">
                <div id="page_title">
                    <a href="/"><span class="oasis_title">MIRAGE</span></a>
                    <span class="oasis_subtitle">OASIS Market Research</span>
                </div><!--end page_title<!-->
                {% block header %}    
                {% endblock header %}
            </div><!--end header<!-->

            
            {% block body %}
            {% endblock body %}

                <!--CUSTOM PAGE CONTENT HERE!-->            

                    <div id="custom_page_content">
                        {% block content %}
                        {% endblock %}
                    </div><!--end custom_page_content<!-->

                <!--END CUSTOM PAGE CONTENT!-->  

                    <!-- BEGIN LANDING HTML -->
        <div id="about_oasis">
            <h1>About OASIS</h1>

            <h3>The OASIS Family of Contract Vehicles</h3>
                
                <ul class="about_oasis_text">
                    <li>Specifically designed for the acquisition of professional services</li>
                    <li>Enables the use of ANY contract type </li>
                    <li>Separated into unrestricted (OASIS) and Small Business (OASIS SB) to make it easy to reserve task orders for small business categories</li>
                    <li>All vendors have DCAA-vetted financial systems</li>
                </ul>
                

                <h3>What are Pools?</h3>
                    <ul class="about_oasis_text">
                        <li>OASIS spans seven major functional categories that are referred to as pools. </li>
                        <li>Each pool is it’s own IDIQ contract: Therefore you may only publish a solicitation to one of these categories. </li>
                        <li>If your contracting need spans multiple categories, choose the one that contains the preponderance of your work. Selecting the most relevant NAICS code above will guide you to the correct pool.</li>
                    </ul>
            </p>
        </div><!--end about_oasis<!-->

        <div id="data_sources">
            <h1>Data Sources</h1>
            <div id="data_sources_last_updated">last updated</div>

            <div class="data_sources_row">
                <span class="data_source_name">SAM</span>
                <span id="data_source_date_sam">1/2/2014</span>
                <span class="data_source_description"><br>We pull SAM data directly from the SAM API to populate XYZ</span>
            </div><!--end data_sources_row<!-->

            <div class="data_sources_row">
                <span class="data_source_name">FPDS</span>
                <span id="data_source_date_fpds">1/2/2014</span>
                <span class="data_source_description"><br>We pull SAM data directly from the SAM API to populate XYZ</span>
            </div><!--end data_sources_row<!-->

            <div class="data_sources_row">
                <span class="data_source_name">FAPIIS</span>
                <span id="data_source_date_sam">1/2/2014</span>
                <span class="data_source_description"><br>We pull SAM data directly from the SAM API to populate XYZ</span>
            </div><!--end data_sources_row<!-->

        </div><!--end data_sources<!-->
    <!-- END LANDING HTML -->    

        </div><!--end container<!-->

        <style>
        /*  #naics-code { width: 100%; }
          #search { margin-left: 0; }
        */
        </style>


        <script type="text/javascript" src="{% static "mirage_site/js/mediator.min.js" %}"></script>
        {% block page_js %}
        {% endblock %}
    </body>

</html>
