{% load staticfiles %}
<!doctype HTML>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        
        <title>Mirage</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static "mirage_site/js/jquery-2.1.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/mirage.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/select2.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mirage_site/js/history.js/scripts/bundled/html4+html5/jquery.history.js" %}"></script>


        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
        <link rel="stylesheet" href="{% static "mirage_site/css/select2.css" %}" />


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->

        <!--
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">[if gt IE 8]><!-->

         <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-core-min.css">
        <!--<![endif]-->
        
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog-old-ie.css" %}">
        <![endif]-->
        
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static "mirage_site/css/layouts/blog.css" %}">
        <!--<![endif]-->


        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="container">

            <div id="header">
                <div id="page_title">
                    <span class="oasis_title">OASIS Market Research Tool</span>
                    <span class="oasis_subtitle">find vendors by NAICS with the socioeconomic factors you need</span>
                </div><!--end page_title<!-->

                <div id="search">
                    <form id="naics-search" class="pure-form">
                        <select id="naics-code">
                            <option>Select an option</option>
                        </select>
                    </form>
                </div><!--end search<!-->
            </div><!--end header<!-->

            <div id="filter_container">
                <h3 class="filter_title">Filters</h3>
                <div id="filter" class="filterbox">
                    <form id="setaside-filters" class="pure-form pure-form-stacked">
                        <fieldset>
                            <label class="pure-checkbox" for="vet"><input type="checkbox" id="vet" name="vet" value="A5" {% if "A5" in request.GET.setasides %}checked{% endif %}/>Veteran Owned</label>
                            <label class="pure-checkbox labeltest" for="smalldis"><input type="checkbox" id="smalldis" name="smalldis" value="27" {% if "27" in request.GET.setasides %}checked{% endif %}/>Small, Disadvantaged Business</label>
                            <label class="pure-checkbox" for="disvet"><input type="checkbox" id="disvet" name="disvet" value="QF" {% if "QF" in request.GET.setasides %}checked{% endif %}/>Service Disabled Veteran Owned</label>
                            <label class="pure-checkbox" for="woman"><input type="checkbox" id="woman" name="woman" value="A2" {% if "A2" in request.GET.setasides %}checked{% endif %} />Woman Owned</label>
                        </fieldset>
                    </form>
                </div><!--end filterbox<!-->
            </div><!--end filter<!-->


            <div id="main_container">

                <div id="tabs_container">

                    <div id="select_vehicle">
                        <a class="select_vehicle" href="#" title="OASIS SB">
                          OASIS SB
                        </a>
                    </div><!--end select_vehicle<!-->

                </div><!--end tabs_container<!-->

                <div id="breadcrumbs">
                    <ul id="crumbs">
                    {% block crumbs %}
                    {% endblock %}
                    </ul>
                </div><!--end breadcrumbs<!-->

                <div id="results_sam_container">

                    <div id="number_of_results">
                        <span class="matching_your_search"></span>
                    </div><!--end number_of_results<!-->

                    <div id="sam_last_updated">
                        <span id="sam_load" class="sam_style"></span>
                    </div><!--end sam_last_updated<!-->

                <!--end results_sam_container<!-->

            </div><!--end main_container<!-->



                <!--CUSTOM PAGE CONTENT HERE!-->            

                    <div id="custom_page_content">
                        {% block content %}
                        {% endblock %}
                    </div><!--end custom_page_content<!-->

                <!--END CUSTOM PAGE CONTENT!-->  

        </div><!--end container<!-->

        <style>
        /*  #naics-code { width: 100%; }
          #search { margin-left: 0; }
        */
        </style>

        {% block page_js %}
        {% endblock %}
        <script type="text/javascript" src="{% static "mirage_site/js/base.js" %}"></script>
    </body>

</html>
