{% extends "base.html" %}

{% block body %}


<div id="container">

    <div id="header">
    
        <div id="search">
            <form id="naics-search" class="pure-form">
                <select id="naics-code">
                    <option value="" disabled selected>Select NAICS code</option>
                </select>
            </form>
        </div><!--end search<!-->
    </div><!--end header<!-->

    <div id="filter">
        <form id="setaside-filters" class="pure-form">
            <label class="pure-checkbox" for="vet"><input type="checkbox" id="vet" name="vet" value="A5" />Veteran Owned</label>
            <label class="pure-checkbox" for="smalldis"><input type="checkbox" id="smalldis" name="smalldis" value="27" />Small, Disadvantaged Business</label>
            <label class="pure-checkbox" for="disvet"><input type="checkbox" id="disvet" name="disvet" value="QF" />Service Disabled Veteran Owned</label>
            <label class="pure-checkbox" for="woman"><input type="checkbox" id="woman" name="woman" value="A2" />Woman Owned</label>
            <label class="pure-checkbox" for="hub"><input type="checkbox" id="hub" name="hub" value="XX" />HUBZone</label>
            <label class="pure-checkbox" for="8a"><input type="checkbox" id="8a" name="8a" value="A6" />8(a)</label>
        </form>
    </div><!--end filter<!-->

    <div id="results_container">

        <div id="results_header">

            <div id="select_vehicle">
            </div><!--end select_vehicle<!-->

            <div id="number_of_results">
            </div><!--end number_of_results<!-->

            <div id="breadcrumbs">
            </div><!--end breadcrumbs<!-->

        </div><!--end results_header<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
                <p class="vendor_names"><p>
                <div id="results">
                </div>



            </div><!--end column<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
            </div><!--end column<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
            </div><!--end column<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
            </div><!--end column<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
            </div><!--end column<!-->

            <div class="column post-header">
                <h2 class="post-title">Pool</h2>
                <p class="post-meta"># vendors</p>
            </div><!--end column<!-->

            <div id="results"><!-- temp results container --></div>        

    </div><!--end results_container<!-->
</div><!--end container<!-->

<style>
/*  #naics-code { width: 100%; }
  #search { margin-left: 0; }
*/
</style>

<script type="text/javascript">

    var get_code = function () {
        return $('#naics-code').val();
    };
   
    var get_setasides = function(){
        var setasides = [];
        $("form#setaside-filters input:checked").each( function(index) {
            setasides.push($(this).val());
        });

        return setasides;
    }

    var refresh_data = function(event) {
        var code = get_code();
        var setasides = get_setasides(); 
        var url = "/api/vendors/"
        var query_data = {}
    
        if (code != 'null' && code != null) {
            query_data["naics"] = code;
        }
        if (setasides.length > 0) {
            query_data["setasides"] = setasides.join();
        }
        
        $.getJSON(url, query_data,  function(data){
            $("#results").html('<pre>' + JSON.stringify(data, null, 4) + '</pre>')
        });

        return false;
    }

    $("#naics-code").change(refresh_data);
    $("#setaside-filters").change(refresh_data);
    
</script>
{% endblock %}
