{% extends "base.html" %}

{% block body %}
<div id="layout" class="pure-g">
    
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">    
    
            <form id="naics-search" class="pure-form">
                <input id="naics-code" type="text" placeholder="NAICS shortcode" class="pure-input-rounded">
                <button type="submit" class="pure-button">Search</button>
            </form>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div id="results">
    
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#naics-search").submit(function(event) {
        var code = $('#naics-code').val();
        
        $.getJSON('/api/vendors?naics=' + code, function(data) {
            $("#results").append('<pre>' + JSON.stringify(data, null, 4) + '</pre>');
        });

        return false; 
    });;

</script>
{% endblock %}
