{% extends "base.html" %}
{% load staticfiles %}

{% block crumbs %}
    <li><a href="/">Home</a></li>
    <li><a href="#">Search Results</a></li>
    <li><a href="#">Pool {{ pool_number }}</a></li>
{% endblock %}

{% block content %}
<div id="pool_table" class="pooldetail">
                <table id="pool_vendors">
                    <tr>
                        <td class="h_vendor_name">
                            Vendor Name
                        </td>
                        <td class="h_vendor_location">
                            Location
                        </td>
                        <td class="h_vo">
                            VO
                        </td>
                        <td class="h_sdb">
                            SDB
                        </td>
                        <td class="h_sdvo">
                            SDVO
                        </td>
                        <td class="h_wo">
                            WO
                        </td>
                    </tr>
                </table>
            </div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static "mirage_site/js/pool.js" %}"></script>
{% endblock %}
