{% extends "search_base.html" %}
{% load staticfiles %}

{% block search_info %}

        <div id="results_pool_name_number">
            <span class="results_pool_name_number_search">SEARCH RESULTS</span><br>
            <span class="results_pool_name_number_pool"></span>
            <span class="results_pool_name_number_description"></span>

            <div id="number_of_results">
                <span class="matching_your_search"></span>
            </div><!-- end number_of_results -->
            <div id="csv_container">
                <a id="csv_link" href="#"><div id="download_data_results">download data (CSV)</div></a>
            </div>

        </div><!-- end results_pool_name_number -->

        <div id="your_search_criteria">
            <span class="your_search_grey">showing vendors in: </span><span id="your_search" class="your_search_blue"></span>
            <span class="your_search_grey">filters: </span><span id="your_filters" class="your_search_blue"></span>
        </div> <!-- closes your search criteria -->

{% endblock %}

{% block content %}

    <div id="pool_table" class="pooldetail">
        <table id="pool_vendors">
            <tr>
                <td scope="col" class="h_vendor_name">
                    Vendor Name
                </td>
                <td scope="col" class="h_vendor_location">
                    Location
                </td>
                <td scope="col" class="h_naics_results">
                    No. of Contracts
                </td>
                <td scope="col" class="h_8a">
                    8(a)
                </td>
                <td scope="col" class="h_hubz">
                    HubZ
                </td>
                <td scope="col" class="h_sdvo">
                    SDVO
                </td>
                <td scope="col" class="h_wo">
                    WO
                </td>
                <td scope="col" class="h_vo">
                    VO
                </td>
                <td scope="col" class="h_sdb">
                    SDB
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'mirage_site/js/layout-manager-listings.js' %}"></script>
    <script src="{% static 'mirage_site/js/requests-manager-listings.js' %}"></script>
{% endblock %}
