{% extends "search_base.html" %}
{% load staticfiles %}

{% block crumbs %}
    <li><a href="/">Home</a></li>
    <li><a href="#">Search Results</a></li>
    <li>Pool {{ pool_number }}</li>
{% endblock %}

{% block content %}
<div id="your_search_criteria">
    <span class="your_search_grey">your search: </span><span id="your_search" class="your_search_blue">541330 - Engineering Services</span>

    <span class="your_search_grey">filters: </span><span id="your_filters" class="your_search_blue">veteran owned, hubzone</span>
</div>
<div id="pool_table" class="pooldetail">
                <table id="pool_vendors">
                    <tr>
                        <td class="h_vendor_name">
                            Vendor Name
                        </td>
                        <td class="h_vendor_location">
                            Location
                        </td>
                        <td class="h_8a">
                            8(a)
                        </td>
                        <td class="h_hubz">
                            HubZ
                        </td>
                        <td class="h_sdvo">
                            SDVO
                        </td>
                        <td class="h_wo">
                            WO
                        </td>
                        <td class="h_vo">
                            VO
                        </td>
                        <td class="h_sdb">
                            SDB
                        </td>
                    </tr>
                </table>
            </div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static "mirage_site/js/pool.js" %}"></script>
{% endblock %}
