{% extends "search_base.html" %}
{% load staticfiles %}

{% block content %}
        <!-- BEGIN LANDING HTML -->
        <div id="about_discovery">
            <h1>About Discovery</h1>

            <h3>Discovery</h3>
            <p class="about_discovery_text">Discovery is a market research tool for GSA Contract Vehicles. Currently, it features GSA IDIQ vehicles, with more contracts coming in the future. Use Discovery to search vendor history for the awarded contractors and NAICs of the various IDIQs. Each contract is separated into Unrestricted and Small Business (SB) to make it easy to reserve task orders for small business categories.</p>

            <h3>Contract Vehicles</h3>
            <div id="discovery_vehicles" class="about_discovery_text collapse-container">
                <h1 class="vehicle"><span class="arrow-d"></span>One Acquisition Solution for Integrated Services (<b>OASIS</b>)</h1>
                <div>
                    <ul class="attr">
                        <li>Specifically designed for the acquisition of professional services</li>
                        <li>Enables the use of ANY contract type</li>
                        <li>All vendors have DCAA-vetted financial systems</li>
                        <li><a href="https://www.gsa.gov/cdnstatic/NAICS%20Code%20Definitions%20for%20OASIS.pdf" target="_blank">Download the NAICS description document showing NAICS Codes per pool</a></li>
                        <li><a class="learn_more" href="https://www.gsa.gov/acquisition/products-services/professional-services/one-acquisition-solution-for-integrated-services-oasis">Learn more about OASIS</a></li>
                    </ul>
                </div>
            </div>

            <h3>What are Pools?</h3>
            <ul class="about_discovery_text">
                <li>Discovery’s IDIQs are divided into functional categories that are referred to as pools.</li>
                <li>Each pool is it’s own IDIQ contract, which may contain multiple NAICS codes.</li>
                <li>You may only issue a solicitation to one of these pools.</li>
                <li>The size standard of a pool applies to all NAICS within it.</li>
                <li>If your contracting need spans multiple categories, select the most relevant NAICS code for your requirement.</li>
            </ul>
        </div><!-- end about_discovery -->

        <div id="data_sources">
            <h1>Data Sources</h1>

            <div id="data_source_sam" class="data_sources_row">
                <h4 class="data data_source_name">SAM</h4>

                <span id="data_source_date_sam"></span>
                <span id="data_source_last_updated">last updated</span>
                <span id="data_source_description_sam" class="data_source_description">We pull SAM data directly from the System for Award Management (SAM) to provide supplemental information on all of the vendors on the included contracts, including their SAM registration date, any potential suspensions or debarments, and the NAICS codes that a vendor may contract under. Set aside information is based on contract awarded designations and may not be consistent with the current SAM registration. Contract awarded designations are valid for the term of the contract. <a href="#" id="data_source_more_info_sam">More Info</a></span>
                <div id="data_source_dialog_sam_wrapper"><div id="data_source_dialog_sam" style="display: none"><span>Contractors are required to re-certify size/socioeconimic at least annually in SAM in accordance with <a href="https://www.acquisition.gov/sites/default/files/current/far/html/Subpart%204_12.html#wp1073667" target="_blank">FAR 4.120(b)(1)</a>. Contrast that with the contract frequency every five years (or Novation/merger) in accordance with <a href="https://www.acquisition.gov/sites/default/files/current/far/html/52_217_221.html#wp1139913" target="_blank">FAR 52.219-28</a>. Hence the size/socioeconomic status shown in SAM may differ from the contract and thus cannot be relied upon for orders issued under the contract which default to the size/socioeconomic status in the contract. Refer to the contract vehicle website to determine the current size/socioeconomic status of a particular contractor under that contract vehicle. )</span></div></div>
            </div><!-- end data_sources_row -->

            <div id="data_source_fpds"  class="data_sources_row">
                <h4 class="data data_source_name">FPDS</h4>
                <span id="data_source_date_fpds"></span>
                <span id="data_source_last_updated">last updated</span>
                <span id="data_source_description_fpds"  class="data_source_description">Discovery loads data from the Federal Procurement Data System (FPDS) to automatically provide you with a context-rich contract history for each vendor, including the amount of the contract, the primary NAICS code and the pricing type.</span>
            </div><!-- end data_sources_row -->
        </div><!-- end data_sources -->
    <!-- END LANDING HTML -->
{% endblock %}

{% block page_js %}
    <script src="{% static 'discovery_site/js/jquery.collapsible.min.js' %}"></script>
    <script src="{% static 'discovery_site/js/requests-manager-listings.js' %}"></script>
    <script src="{% static 'discovery_site/js/layout-manager-listings.js' %}"></script>
    <script src="{% static 'discovery_site/js/requests-manager-index.js' %}"></script>
    <script src="{% static 'discovery_site/js/layout-manager-index.js' %}"></script>
{% endblock %}
