{% extends "search_base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'discovery_site/css/simplePagination.css' %}">
{% endblock %}

{% block search_info %}

        <div id="results_pool_name_number">
            <span class="results_pool_name_number_search">SEARCH RESULTS</span><br>
            <span class="results_pool_name_number_pool"></span>
            <span class="results_pool_name_number_description"></span>

            <div id="number_of_results">
                <span class="matching_your_search"></span>
            </div><!-- end number_of_results -->
            <div id="csv_container">
                <a id="csv_link" href="#"><div id="download_data_results">download data (CSV)</div></a>
            </div>

        </div><!-- end results_pool_name_number -->

        <div id="your_search_criteria">
            <span class="your_search_grey">showing vendors in: </span><span id="your_search" class="your_search_blue"></span>
            <span class="your_search_grey">filters: </span><span id="your_filters" class="your_search_blue"></span>
        </div> <!-- closes your search criteria -->

{% endblock %}

{% block content %}

    <div id="pool_table" class="pooldetail">
        <table id="pool_vendors">
            <tr>
                <th scope="col" class="h_vendor_name arrow-sortable sortable" title="Select to sort">
                    Vendor Name
                </th>
                <th scope="col" class="h_vendor_location arrow-sortable sortable" title="Select to sort">
                    Location
                </th>
                <th scope="col" class="h_naics_results arrow-down sortable" title="Sorted descending">
                    Contracts
                </th>
                <th scope="col" class="h_8a">
                    8(a)
                </th>
                <th scope="col" class="h_hubz">
                    HubZ
                </th>
                <th scope="col" class="h_sdvo">
                    SDVO
                </th>
                <th scope="col" class="h_wo">
                    WO
                </th>
                <th scope="col" class="h_vo">
                    VO
                </th>
                <th scope="col" class="h_sdb">
                    SDB
                </th>
            </tr>
        </table>
    </div>

    <div id="no_matching_vendors">There are no matching vendors to display</div>

    <div id="viewing_vendors">
        viewing
    <span id="vendors_current" class="viewing_vendors_current"></span>
        of
    <span id="vendors_total" class="viewing_vendors_total"></span>
        total results
    </div><!-- end viewing_vendors -->
    <div id="pagination_container"></div>

{% endblock %}

{% block page_js %}
    <script src="{% static 'discovery_site/js/layout-manager-listings.js' %}"></script>
    <script src="{% static 'discovery_site/js/requests-manager-listings.js' %}"></script>
    <script src="{% static 'discovery_site/js/jquery.simplePagination.js' %}"></script>
{% endblock %}
